In [1]:
import sqlite3

db = sqlite3.connect("/home/jovyan/files/cities.db")

In [2]:
cursor = db.cursor()

query = "select * from cities limit 10"

cursor.execute(query)

In [3]:
cursor.fetchall()

[('Abilene', '115930'),
 ('Akron', '217074'),
 ('Albany', '93994'),
 ('Albuquerque', '448607'),
 ('Alexandria', '128283'),
 ('Allentown', '106632'),
 ('Amarillo', '173627'),
 ('Anaheim', '328014'),
 ('Anchorage', '260283'),
 ('Ann Arbor', '114024')]